.form-box {
    margin: 6rem auto;
    height: auto;
    width: 30%;
    padding: 2rem 2rem;
    border: 0.5px solid #123123;
    border-radius: 5px;
}
.forgot-password-text {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}