.signin {
    height: 10rem;
    width: 30%;
    padding: 1rem;
    margin: 6rem auto 0;
    border: 0.5px solid #646464;
    border-radius: 10px;
}
.signin-text {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.signin-form {
    margin-top: 2rem;
}