.homepage-wrapper {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    width: 60%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    overflow-y: hidden;
}
.men-wrapper {
    grid-column: 1 / 2;
}
.women-wrapper {
    grid-column: 2 / 4;
}
.men-fashion-directory {
    font-size: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/men-fashion.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.women-fashion-directory {
    font-size: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/women-fashion.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: center;
}

.men-fashion-directory:hover, .women-fashion-directory:hover {
   filter: grayscale(100%);
   font-size: 6rem;
}

.fashion-text {
    color: white;
    position: relative;
    top: 20rem;
}


