.homepage-wrapper {
    width: 100%;
    height: 95.2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.men-fashion-directory {
    background: url('../../assets/men-fashion.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.men-fashion-directory:hover {
   
}

.women-fashion-directory {
    background: url('../../assets/women-fashion.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.women-fashion-directory:hover {
   
}