.header {
    height: 4rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 3;
}
.header-wrap {
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.6fr 9fr;
}
.logo-container {
    height: 4rem;
}
.logo {
    height: 100%;
    width: 100%;
    background: url('../../assets/oshoppee-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.nav-item {
    line-height: 4rem;
    float: right;
    margin-left: 1rem;
    font-weight: bold;
}


