$text-color: white;
$header-background: #0b0b0e;
$link-hover-color: #18DEC9;

.header-wrap {
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.header {
    height: auto;
    width: 1250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    background: $header-background;
    z-index: 3;
    
    .login {
        a {
            color: $text-color !important;
            &:hover {
                color: $link-hover-color !important;
            }
        }
    }
    .sign-up{
        background: linear-gradient(to bottom right, #1CB351,#18DEC9) !important;
        cursor: pointer !important;
        transition: all 0.2s ease-in-out;
        color: white !important;

        a {
            color: $text-color !important;
        }
        &:hover {
            filter:brightness(80%);
        }
    }
}
.logo-container {
    height: auto;
    .logo {
        height: 100%;
        padding: 0 !important;
        span {
            font-family: "Ailerons" !important;
            margin: 0 0.5rem !important;
            padding: 0 !important;
            font-size: 2.5rem !important;
            text-transform: none !important;
            color:$text-color;
        }
    }    
}
.logo-alt {
    height: 3rem;
    width: auto;
}

.nav-item {
    float: right !important;
    margin: 1rem 0 !important;
    font-weight: bold !important;
    box-sizing: border-box !important;
    padding: 0.5rem 2rem !important;
    border-radius: 10px !important;
}


