$border-color: rgb(151, 151, 151);
$text-color: rgb(49, 49, 49);
$link-color: rgb(0, 47, 255);

.login-form {
    width: 30%;
    height: auto;
    margin: 6rem auto 2rem;
    padding: 1rem 2rem 2rem ;
    border: 0.5px solid $border-color;
    border-radius: 5px;
    
    @media(max-width: 425px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 70%;
    } 
    @media (max-width: 900px) {
        width: 60%;
    }
    @media (max-width: 1000px) {
        width: 80%;
    }

    .error {
        color: red;
    }

    h1 {
        text-align: center;
        color: $text-color;
        font-size: 2rem; 
    }
    a {
        padding-top: 0.5rem;
        font-size: 0.7rem;
        color: $link-color;
        cursor: pointer;
    }
    .login-btn {
       
    }
    .google-login-btn {
        background-color: #ff1100 !important;
        &:hover {
            background-color: darken(#ff1100, 15% ) !important;
        }
    }

    .registration-link {
        margin-top: 0.5rem;
        cursor: default;
        font-size: 0.8rem;
        span {
            transition: all 0.2s ease-in-out;
            font-weight: bold;
            &:hover {
                color: gray
            }
        }
    } // end of regstration-link
} // end of login